@font-face{
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
    font-weight: normal;
  }

body{
    display:grid;
    grid-template-columns: 20% 60% 20%;
    margin:0;
    background-image: url(starsbkg.gif);
    color: white;
}

img{
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-wall{
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.eightyeight-by-thirtyone {
  width: 88px;
  height: 31px;
  margin-left: 0;
  margin-right: 0;
  padding:2px;
  display:inline-block
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1{
    font-family: "Roboto", serif;
}

h2{
    font-family: "Roboto", serif;
}

h3,h4,h5{
    font-family: "Roboto", serif;
    font-weight: normal;
    overflow-wrap: break-word;
}

a{
    color: white;
}

a:visited{
    color: white;
}

.sidePanel{
    width: 100%;
}

.centerPanel{
    width:100%-1vw;
    padding: 1vw;
    font-family: "Roboto", serif;
    text-align: justify;
    text-justify: inter-word;
}

.poetry{
    text-align: center;
}

.navbar-content{
    width:40%;
    text-align: center;
}

.navbar-content h1{
    font-size:max(2em, 3vh);
}

.navbar-bookend{
    width:30%;
}

.bookend-left{
    margin-right:0;
    height:100%;
}

.bookend-right{
    margin-left:0;
    height:100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.button-wall{
    text-align: center;
}

.footer{
    text-align: center;
    padding-top:1em;
}

.footer img{
    filter: invert(100%);
}

details {
  cursor: pointer;
}

summary::marker {
  display: none;
  content: "";
}

details>summary span.details-more-button{
 display:inline;
 margin-left: auto;
 float:right;
}

details>summary span.details-less-button{
 display:none;
 margin-left: auto;
 float:right;
}

details[open] summary span.details-more-button {
  display:none;
}
details[open] summary span.details-less-button {
  display:inline;
}

img.gig-poster {
 max-width: 50%; 
}

img.flex-obedient {
 max-width: 50%; 
}

.flexrow {
  display: flex;
}

.flexcolumn {
  flex: 50%;
  padding: 1em;
}

.flexcolumn img.gig-poster {
 max-width: 100%;
 width: 100%;
 height:auto;
}

.flexcolumn img.flex-obedient {
 max-width: 100%;
 width: 100%;
 height:auto;
}

.framed{
 border:60px solid transparent;
 border-radius:20%;
 border-image:url(antiqueframe.gif) stretch;
 border-image-slice: 200 fill;
}

.ontv{
 border: solid transparent;
 border-width: 60px 30px 100px 30px; 
 border-radius:10px 10px 110px 110px;
 border-image:url(sonypvm.png) stretch;
 border-image-slice: 165 90 180 90 fill;
}

@media only screen and (max-aspect-ratio: 1/1) {
    body{
        grid-template-columns: 0% 100% 0%;
    }
}
